{% set location = basics['location'] %}
{% set profiles = basics['profiles'] %}
{% from "analyze.html" import makeSetupJs %}
<!DOCTYPE html>
<html>

<head><!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132355416-3"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-132355416-3');
    </script>
    <meta charset="utf-8">
    <title>{{basics['name']}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/style.1.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="styles/favicon.ico" type="image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
      .clearfix::after {
      content: "";
      clear: both;
      display: table;
      }
    </style>
</head>
<div id="resume">
    <header id="header" class="clear">
        <div>
            <h1 class="name">{{basics['name']}}</h1>
            <h2 class="label">{{basics['label']}}</h2>
        </div>
        <span class="location">
          <span class="address"></span>
          <span class="city">{{location['city']}}</span>
          <span class="postalCode">{{location['postalCode']}}</span>
          <span class="countryCode">{{location['countryCode']}}</span>
      </span>
        <div id="contact">
            {% for profile in profiles %}
            <div class="website">
                <span class="{{ profile['icon'] }}">
                    <a id="{{ profile['network'] }}" href="#" class="defaultLink">{{profile['network']}}</a>
                    <a href="#" class="printLink">{{profile['handle']}}</a>
                </span>
            </div>
            {% endfor %}
        </div>
    </header>
    <section class="section main-summary">
        <section>
            <div>
                <p class="keep-new-lines"><strong>{{basics['summary']}}</strong>
            </div>
        </section>
    </section>
    <section class="section margin1">
        <header>
            <h2 class="section-title">Skills</h2>
        </header>
        <section id="skills">
            {% for skill in skills %}
            <div class="item">
                <h3 class="name">
                    {{skill['name']}}
                </h3>
                <div class="level {{skill['level'].lower()}}">
                    <em>{{skill['level']}}</em>
                    <div class="bar"></div>
                </div>
                <ul class="keywords">
                    {% for kw in skill['keywords'] %}
                    <li>{{kw}}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </section>
        <section id="skills_ul">
            <ul class="keywords">
                {% for skill in skills_ul %}
                <li>{{skill}}</li>
                {% endfor %}

            </ul>
        </section>
    </section>
    <section class="section">
        <header>
            <h2 class="section-title">
                Work Experience
                <span class="item-count">({{work|length}})</span>
            </h2>
        </header>
        <section id="work">
            {% for job in work %}
            <section class="work-item">
                <input id="work-item-{{loop.index - 1}}" type="checkbox" class="toggle-item" {{'checked' if loop.index
                == 1 else ''}}>
                <label for="work-item-{{loop.index - 1}}"></label>
                <header>
                    <div class="position">{{job['position']}}</div>
                    <div class="company">{{job['name']}}</div>
                    <div class="date clearfix">
                        <span class="startDate">{{job['startDate']}}</span>
                        {% if job['endDate'] == "" %}
                        {% set endDate = " to Present" %}
                        {% else %}
                        {% set endDate = " to {}".format(job['endDate']) %}
                        {% endif %}
                        <span class="endDate">{{endDate}}</span>
                    </div>
                </header>
                <div class="item" id="work-item">
                    <div class="summary">
                        {{job['summary']}}
                    </div>
                    <ul class="highlights">
                        {% for highlight in job['highlights'] %}
                        <li>
                            <p>{{highlight}}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
            {% endfor %}
        </section>
    </section>
    <section class="section margin1">
        <header>
            <h2 class="section-title">
              Projects
            <span class="item-count">({{projects|length}})</span>
            </h2>
        </header>
        <section id="projects">
            {% for project in projects %}
            <div class="item">
                <h3 class="name">
                    {% if project.get('url', "") != "" %}
                    <a id="{{project['name']}}" href="#">{{project['name']}}</a>
                    {% else %}
                    {{project['name']}}
                    {% endif %}
                </h3>
                <div class="summary">
                    {{project['summary']}}
                </div>
                <ul class="highlights">
                    {% for highlight in project['highlights'] %}
                    <li>
                        <p>{{highlight}}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </section>
    </section>
    <section class="section">
        <header>
            <h2 class="section-title">Education
            </h2>
        </header>
        <section id="education">
            {% for edu in educations %}
            <section class="education-item">
                <header>
                    <div class="header-left">
                        <div class="studyType">
                            {{edu['studyType']}} -
                        </div>
                        <div class="area">
                            {{edu['area']}}
                        </div>
                        <div class="institution">
                            {{edu['institution']}}
                        </div>
                    </div>
                    <div class="date">
                        <span class="startDate">{{edu['startDate']}}</span>
                        <span class="endDate"> - {{edu['endDate']}}</span>
                    </div>
                </header>
                <!-- empty item for spacing -->
                <div class="item"></div>
            </section>
            {% endfor %}
        </section>
    </section>
    <section class="section margin1">
        <header>
            <h2 class="section-title">Interests</h2>
        </header>
        <section id="interests">
            {% for interest in interests %}
            <div class="item">
                <h3 class="name">
                    {{interest['name']}}
                </h3>
                <ul class="keywords">
                    {% for kw in interest['keywords'] %}
                    <li>{{kw}}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </section>
    </section>
</div>
<script>
    {{makeSetupJs(profiles, projects)}}
</script>
</html>
